RewriteEngine On
RewriteBase /
RewriteRule ^shrtn(.*)$ shrtn.php?url=$1 [L,QSA]
RewriteRule ^stats(.*)$ stats.php?slug=$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?slug=$1 [L,QSA]